body    
{
font-family: Verdana, Geneva, sans-serif; 
text-decoration: none;
background-color: #f7f7f7;
}

table#bounding
{
background-color: #f7f7f7;
margin: auto;
width: 68.1%;
max-width: 800px;
max-height: 495px;
}

p
{
font-family: Verdana, Geneva, sans-serif; 
text-decoration: none;
font-style: normal;
}


td#info {
text-align: justify;
vertical-align: top;
padding: 3%;
}

td#info h1
{
font-size: x-large;
font-weight: bold;
margin-bottom: 0;
margin-top: 0;
color: #7b2a90;
}

td#info bd {
  font-weight: bold;
}

td#info h2
{
font-size: large;
font-weight: normal;    
margin-bottom: 0;
margin-top: 0;
color: #7b2a90;
}

td#info br {
  height: 5px;
}

td#photo br {
  height: 5px;
}

td#photo
{
width: 30%;
/*height: 460px;*/
background-color: #f7f7f7;
vertical-align: center;
}

td#photo img
{
width: 100%;
min-width: 100px;    
height: auto;
vertical-align:bottom;
bottom: 0;
}

address 
{
font-family: Verdana, Geneva, sans-serif; 
text-decoration: none;
font-style: normal;
}

table#grid
{
border-style: none;
border-width: 0;
margin: 0 auto;
height: 100px;
}

table#grid td
{
    text-align: center;
padding: 23px;
/*width: 33.3%;
height: 50%;*/
border-style: none;
border-width: 0;
}

td#border {
  background-color: #000000;
  height: 1px;
  width: 80%;
}


a {text-decoration:none}
a:link {color:#cb7cdf}
a:visited{color:#cb7cdf}
a:hover {color:#7b2a90}

table#grid a {text-decoration:none}
table#grid a:link {color:#000000}
table#grid a:visited {color:#000000}
table#grid a:hover {color:#7e20b5}