body    
{
font-family: Verdana, Geneva, sans-serif; 
text-decoration: none;
background-color: #f7f7f7;
}

table#bounding
{
background-color: #e2e2e2;
margin: auto;
width: 68.1%;
max-width: 800px;
max-height: 495px;
}

p
{
font-family: Verdana, Geneva, sans-serif; 
text-decoration: none;
font-style: normal;
}


td#info {
text-align: left;
vertical-align: top;
padding: 3%;
}

td#info h1
{
font-size: x-large;
font-weight: bold;
margin-bottom: 0;
margin-top: 0;
}

td#info h2
{
font-size: large;
font-weight: normal;    
margin-bottom: 0;
margin-top: 0;
}

td#photo
{
width: 30%;
/*height: 460px;*/
background-color: #e2e2e2;
vertical-align: center;
}

td#photo img
{
width: 100%;
min-width: 353px;    
height: auto;
vertical-align:bottom;
bottom: 0;
}

address 
{
font-family: Verdana, Geneva, sans-serif; 
text-decoration: none;
font-style: normal;
}

table#grid
{
border-style: none;
border-width: 0;
margin: -3px -3px -3px -3px;
height: 100px;
align-self: center;
}

table#grid td
{
    text-align: center;
padding: 23px;
/*width: 33.3%;
height: 50%;*/
border-style: none;
border-width: 0;
margin: 0 0 0 0;
}

a {text-decoration:none}
a:link {color:#0F4D92}
a:visited {color:#66487D}
a:hover {color:#3399FF}
a:active {color:#FF0000}

table#grid a {text-decoration:none}
table#grid a:link {color:#ffffff}
table#grid a:hover {color:#000000}

a.dart {text-decoration:none}
a.dart:link {color:#00693e}
a.dart:visited {color:#00693e}
a.dart:hover {color:#00693e}
a.dart:active {color:#00693e}