body    
{
font-family: Verdana, Geneva, sans-serif; 
text-decoration: none;
background-color: #f7f7f7;
}

table#bounding
{
background-color: #f7f7f7;
margin: auto;
width: 68.1%;
max-width: 800px;
max-height: 495px;
}

p
{
font-family: Verdana, Geneva, sans-serif; 
text-decoration: none;
font-style: normal;
}

td#title {
  text-align: center;
  vertical-align: top;
  padding: 3%;
  font-size: x-large;
  font-weight: bold;
  color: #7b2a90;
}

td#header {
  text-align: center;
  vertical-align: top;
  font-size: large;
  font-weight: normal;
  color: #7b2a90;
}

td#summary {
  text-align: left;
}

table#lists td#number{
  width: 5%;
  vertical-align: top;
  padding-bottom: 4%;
}

table#lists td#pub{
  width: 70%;
  text-align: left;
  vertical-align: top;
  padding-bottom: 4%;
  padding-left: 5%;
}

table#lists td#docs{
  width: 20%;
  line-height: 1.5;
  vertical-align: top;
  padding-bottom: 4%;
}

td#empty{
  height: 5px;
}

td#sempty {
  height: 3px;
}

td#talk {
  text-align: justify;
  padding-bottom: 4%;
}

table#lists{
  border-style: none;
border-width: 0;
margin: 0 auto;
height: 150px;
vertical-align: top;
font-size: medium;
}

table#grid
{
border-style: none;
border-width: 0;
margin: 0 auto;
height: 100px;
}

table#grid td
{
    text-align: center;
padding: 23px;
/*width: 33.3%;
height: 50%;*/
border-style: none;
border-width: 0;
}

td#border {
  background-color: #000000;
  height: 1px;
  width: 80%;
}


a {text-decoration:none}
a:link {color:#cb7cdf}
a:visited {color:#cb7cdf}
a:hover {color:#7b2a90}

table#grid a {text-decoration:none}
table#grid a:link {color:#000000}
table#grid a:visited {color:#000000}
table#grid a:hover {color:#7e20b5}

table#lists a {text-decoration:none}
table#lists a:link {color:#cb7cdf}
table#lists a:visited {color:#cb7cdf}
table#lists a:hover {color:#7e20b5}